<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/details", method="POST">
        Canvas Instructure URL (e.g. https://www.school.instructure.com)
        <input type="text" name="canvas_url"><br>
        Canvas Access Token (get from settings)
        <input type="text" name="access_token"><br>
        <input type="submit"/>
    </form>
    
</body>
</html>