<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a:link, a:visited {
            color: blue; /* Or your desired uniform link color */
        }
    </style>
</head>
<body>
    <!-- TODO: For every completion of an assignment, get feedback for AI fine tuning -->

    <!-- TODO: Display Per Day  -->
    {% extends "base.html" %}

    {% block content %}
    <div class="profile-container">
        <h1>Welcome, {{profile.name}}</h1>
        <p>Current time: {{ time | format_date }}</p>

        <h2>Upcoming Assignments</h2>
        {% if due_assignments %}
            {% for date, courses in due_assignments.items() %}
                <div class="assignments-list">
                    <h3>{{ date | format_date }}</h3>
                    {% for course_name, assignments in courses.items() %}
                        {% if assignments %}
                            <h4>{{ course_name }}</h4>
                            <ul>
                            {% for assignment in assignments %}
                                <li>{{ assignment.name }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>No upcoming assignments</p>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>


